<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{% if '/' === page.url %}V8 JavaScript engine{% else %}{{ (renderData.title or title) | markdown | striptags | decodeHtmlEntities }} · V8{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="/_css/main.css">
{% if '/features' in page.url %}
    <link rel="stylesheet" href="/_css/feature-support.css">
{% endif %}
    <link rel="manifest" href="/.webmanifest">
    <meta name="theme-color" content="#4285F4">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="V8 Atom feed">
    <link rel="alternate" href="/features.atom" type="application/atom+xml" title="V8 JS/Wasm features Atom feed">
{% for extra_link in extra_links %}
    <link rel="{{ extra_link.rel }}" href="{{ extra_link.href }}">
{% endfor %}
    <script>document.documentElement.className+=' js'</script>
{% if description %}
    <meta name="description" content="{{ description }}">
{% endif %}
  </head>
  <body>
    <header id="header">
      <h1><a href="/">V8</a></h1>
      <a href="#navigation-toggle" id="nav-toggle">显示导肮</a>
      <nav>
        <ul>
          <li{% if '/' === page.url %} class="active"{% endif %}><a href="/">主页</a></li>
          <li{% if '/blog/' in page.url %} class="active"{% endif %}><a href="/blog/">博客</a></li>
          <li{% if '/docs/' in page.url %} class="active"{% endif %}><a href="/docs/">文档</a></li>
          <li><a href="/tools/">工具</a></li>
          <li{% if '/features' in page.url %} class="current"{% endif %}><a href="/features" title="JavaScript 和 WebAssembly 的新特性">JS/Wasm 新特性</a></li>
          <li{% if '/grant' in page.url %} class="current"{% endif %}><a href="/grant">Research</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      {{ content | safe }}
    </main>
    <footer id="footer">
      <div>
        <nav>
          <a href="https://v8.dev{{ page.url | url | clean }}">原文</a> ·
          <a href="/logo/">商标</a> ·
          <a href="/terms/">条款</a> ·
          <a href="https://policies.google.com/privacy/">隐私</a> ·
          <a href="https://twitter.com/v8js" rel="me nofollow">Twitter</a> ·
          <a href="https://github.com/justjavac/v8.js.cn/tree/master/{{ page.inputPath }}" rel="nofollow">在 GitHub 编辑此页面</a>
        </nav>
        <dark-mode-toggle permanent dark="Light Theme" light="Dark Theme"></dark-mode-toggle>
      </div>
      <p><small>如无特殊说明，此 V8 项目中使用到的所有示例代码均基于 <a href="https://chromium.googlesource.com/v8/v8.git/+/master/LICENSE">V8's BSD-style license</a> 发布。页面中的文字内容采用 <a href="https://creativecommons.org/licenses/by/3.0/">the Creative Commons Attribution 3.0 License</a> 进行许可。更详细的信息可以在 <a href="/terms#site-policies">站点策略</a> 中找到。</small></p>
    </footer>
    <script type="module" src="/_js/dark-mode-toggle.mjs"></script>
    <script type="module" src="/_js/main.mjs"></script>
    <script nomodule src="/_js/legacy.js"></script>
  </body>
</html>
