---
layout: layouts/base.njk
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ title | markdown | safe }}</h1>
    <p class="meta">
      发布时间 <time datetime="{{ date | htmlDateString }}" title="{{ date | htmlDateString }}" itemprop="datePublished">{{ date | readableDate }}</time>
      {% if updated %}
        · 更新时间 <time datetime="{{ updated | htmlDateString }}" itemprop="dateModified">{{ updated | readableDate }}</time>
      {% endif %}
      {% if tags %}
        · 标签：{% for tag in tags %}
          <a href="/blog/tags/{{ tag | slug }}/" class="tag">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </p>
  </header>
  <div itemprop="articleBody">
    {{ content | safe }}
  </div>
  <footer>
    <div>
      {% if avatars %}
        {% for avatar in avatars %}
          <picture>
            <source srcset="/_img/avatars/{{ avatar }}.avif, /_img/avatars/{{ avatar }}@2x.avif 2x" type="image/avif"></source>
            <img src="/_img/avatars/{{ avatar }}.jpg" srcset="/_img/avatars/{{ avatar }}@2x.jpg 2x" alt="" width="96" height="96" loading="lazy">
          </picture>
        {% endfor %}
      {% endif %}
      <p>作者：{{ author | markdown | safe }}.</p>
    </div>
    {% if tweet %}
      <a href="https://twitter.com/v8js/status/{{ tweet }}" class="retweet">Retweet this article!</a>
    {% endif %}
  </footer>
  {% if cn %}
  <footer>
    <div>
      {% if cn.avatars %}
        {% for avatar in cn.avatars %}
          <img src="/_img/avatars/{{ avatar }}.jpg" srcset="/_img/avatars/{{ avatar }}@2x.jpg 2x" alt="" width="96" height="96" lazyload="on">
        {% endfor %}
      {% endif %}
      <p>译者：{{ cn.author | markdown | safe }}.</p>
    </div>
    {% if cn.tweet %}
      <a href="https://twitter.com/v8js/status/{{ cn.tweet }}" class="retweet">Retweet this article!</a>
    {% endif %}
  </footer>
  {% endif %}
</article>
