---
permalink: /features/
title: 新特性
navtitle: JS/Wasm
layout: layouts/base.njk
---
<h1>JavaScript 和 WebAssembly 新特性</h1>

<p>本节介绍 <strong>JavaScript</strong> 语言中的新特性，这些语言特性定义在 <a href="https://tc39.es/ecma262/">ECMA-262 (ECMAScript)</a> 和 <a href="https://tc39.es/ecma402/">ECMA-402 (the ECMAScript Internationalization API)</a>，以及 <a href="https://webassembly.github.io/spec/core/"><strong>WebAssembly</strong></a> (Wasm)</p>

<p>我们的目标是通过 <strong>易于理解的代码示例</strong> 来提供新语言特性的 <strong>简明</strong>说明。有关更深入的文档，请参阅每个解释中的外部链接。</p>

{% set posts = collections.features %}
{% include "features.njk" %}
