---
navtitle: Blog
layout: layouts/home.njk
description: 'V8 是一个由 Google 开源的高性能 JavaScript 和 WebAssembly 引擎，用于 Google Chrome 及 Chromium 中。'
---
<h1>V8 是什么？</h1>

<p>V8 是一个由 Google 开源的高性能 JavaScript 和 WebAssembly 引擎，其源代码使用 C++ 编写。V8 被用于 Google 的开源浏览器 Chrome 中，同时也被用于 Node.js，以及其他一些软件中。V8 实现了 <a href="https://tc39.github.io/ecma262/">ECMAScript</a> 和 <a href="https://webassembly.github.io/spec/core/">WebAssembly</a> 标准，可以运行在 Windows 7 及以上，macOS 10.12+，以及 x64、IA-32、ARM、MIPS 架构的 Linux 系统。V8 可以独立运行，也可以被嵌入到 C++ 应用程序中。</p>

<h2>最新博文</h2>

{% set posts = collections.posts | head(20) %}
{% include "posts.njk" %}

<p>阅读更多文章可以访问 <a href="/blog">文章归档</a>.</p>
